{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Namesociety</th>
                <th>Typesociety</th>
                <th>Name</th>
                <th>Post</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Notes</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.namesociety }}</td>
                <td>{{ customer.typesociety }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.post }}</td>
                <td>{{ customer.telephone }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.notes }}</td>
                <td>{{ customer.createdat ? customer.createdat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer.updatedat ? customer.updatedat|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('customer_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer_new') }}">Create new</a>
{% endblock %}
