{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>Customer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Namesociety</th>
                <td>{{ customer.namesociety }}</td>
            </tr>
            <tr>
                <th>Typesociety</th>
                <td>{{ customer.typesociety }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ customer.post }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ customer.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ customer.notes }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ customer.createdat ? customer.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ customer.updatedat ? customer.updatedat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_index') }}">back to list</a>

    <a href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
