{% extends 'base.html.twig' %}

{% block title %}Joboffer{% endblock %}

{% block body %}

    <div class="base">

        <!-- Page -->
        <div class="page">

            <!-- Page Header-->
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">{{ joboffer.jobtitle }}</h2>
                            <span class="white-text">Ref:
                                {{ joboffer.reference }}</span>
                            <ol class="breadcrumb">
                                <li>
                                    <div class="portfolio-nav">
                                        <a href="#!" class="waves-effect waves-dark">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            Prev</a>
                                        <a href="#!" class="waves-effect waves-dark">
                                            <i class="fa fa-th-large" aria-hidden="true"></i>
                                        </a>
                                        <a href="#!" class="waves-effect waves-dark">Next
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Page Content-->
            <section class="single-project-section section-padding light-gray-bg">
                <div class="container">
                    <div class="project-overview">
                        <div class="row mb-80">
                            <div class="col-xs-12 col-md-8">
                                <p class="ref grey-text no-margin">Ref:
                                    {{ joboffer.reference }}</p>
                                <h2>{{ joboffer.jobtitle }}</h2>
                                <p>{{ joboffer.description }}
                                </p>
                                <p>{{ joboffer.notes }}</p>
                            </div>

                            <div class="col-xs-12 col-md-4 quick-overview">
                                <ul class="portfolio-meta">
                                    <li>
                                        <span>
                                            Pulished at
                                        </span>{{ joboffer.createdat ? joboffer.createdat|date('Y-m-d H:i:s') : '' }}</li>
                                    <li>
                                        <span>
                                            Position
                                        </span>{{ joboffer.jobcategory }}</li>
                                    <li>
                                        <span>
                                            Contract Type
                                        </span>{{ joboffer.jobtype }}</li>
                                    <li>
                                        <span>
                                            Salary
                                        </span>{{ joboffer.salary }}</li>
                                    <li>
                                        <span>
                                            Location
                                        </span>{{ joboffer.location }}</li>
                                    <li>
                                        <span>
                                            Closing date
                                        </span>{{ joboffer.closingdate ? joboffer.closingdate|date('Y-m-d') : '' }}</li>
                                </ul>
                                {% if alreadyApply %}
                                    <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div>
                                {% else %}
                                    <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="{{ path('candidacy', {'id':joboffer.id})}}">Apply for this job</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <nav class="single-post-navigation no-margin" role="navigation">
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="previous-post-link">
                                    <a class="btn border primary waves-effect waves-dark" href="#!">
                                        <i class="fa fa-long-arrow-left"></i>Previous
                                    </a>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-4"></div>

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="next-post-link">
                                    <a class="btn border primary waves-effect waves-dark" href="#!">
                                        Next
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </nav>
                </div>
            </section>

        </div>

    </div>

    <a href="{{ path('joboffer_index') }}">back to list</a>

    <a href="{{ path('joboffer_edit', {'id': joboffer.id}) }}">edit</a>

    {# {{ include('joboffer/_delete_form.html.twig') }} #}
{% endblock %}