{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ candidate.gender }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ candidate.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ candidate.lastname }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ candidate.adress }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ candidate.country }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ candidate.nationality }}</td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>{{ candidate.passport }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ candidate.cv }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ candidate.picture }}</td>
            </tr>
            <tr>
                <th>Currentlocation</th>
                <td>{{ candidate.currentlocation }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ candidate.dateofbirth ? candidate.dateofbirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Placeofbirth</th>
                <td>{{ candidate.placeofbirth }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidate.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ candidate.password }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ candidate.availability ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Jobsector</th>
                <td>{{ candidate.jobsector }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ candidate.experience }}</td>
            </tr>
            <tr>
                <th>Shortdescription</th>
                <td>{{ candidate.shortdescription }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{{ candidate.admin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ candidate.createdat ? candidate.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ candidate.updatedat ? candidate.updatedat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ candidate.notes }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ candidate.deletedat ? candidate.deletedat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidate_index') }}">back to list</a>

    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
